/* $Id$ */
.biurnal-color-scheme-form .biurnal-farbtastic-placeholder
{
  float: right;
  margin: 10px;
}

.biurnal-color-scheme-form .form-item
{
  width: 95px;
  float: left;
  margin: 0 10px 0 0 !important;
}

.biurnal-color-scheme-form .form-item input {
  width: 85px !important;
  padding: 4px !important;
}

.biurnal-color-scheme-form .form-item label
{
  line-height: 1em;
  height: 2em;
}

.biurnal-color-scheme-form #edit-backgrounds-dinby-wrapper {
  clear: left;
}
