body {
  background: $background url("img/druplicon.png") top right no-repeat;
  color: $foreground;
}

a {
  color: ${"mix":["$link","$background","0.1"]}$;
}

a:hover {
  color: ${"mix":["$link","$background","0.4"]}$;
}